/* @font-face {
  font-family: 'Spoqa Han Sans';
  font-weight: 400;
  src: local('Spoqa Han Sans Bold'),
    url('../../fonts/Spoqa Han Sans Regular.woff') format('woff2'),
    url('../../fonts/Spoqa Han Sans Regular.woff') format('woff');
}
@font-face {
  font-family: 'Spoqa Han Sans';
  font-weight: 700;
  src: local('Spoqa Han Sans Regular'),
    url('../../fonts/Spoqa Han Sans Bold.woff') format('woff2'),
    url('../../fonts/Spoqa Han Sans Bold.woff') format('woff');
}
 */